<% content_for :banner do %>
    <div id="sub-banner">
    	<div class="in">
        	<a href="#"><img src="/assets/soundrock/sub-banner4.jpg" alt="" /></a>
        </div>
    </div>
<% end %>

    <div id="content-sec">
    	<div class="inner">
        	<!-- Columns Section Start -->
            <div class="columns-sec twocol">
            	<!-- Column Three Start -->
                <div class="col3">
                	<div class="static">
                    	<h1 class="heading colr">ABOUT US</h1>
                        <p>
                        	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam scelerisque tristique dolor vitae tincidunt. Aenean quis massa uada mi elementum elementum. Suspendisse ac eros nec sapien convallis vulputate rhoncus vel dui. Aliquam urna nunc, lacinia non aliquam in, lobortis at quam. Sed quis elit eu mauris egestas mattis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam scelerisque tristique dolor vitae tincidunt. Aenean quis massa uada mi elementum elementum. Suspendisse ac eros nec sapien convallis vulputate rhoncus vel dui. Aliquam urna nunc. Sed quis elit eu mauris egestas mattis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam scelerisque tristique dolor vitae tincidunt. Aenean quis massa uada mi elementum elementum. Suspendisse ac eros nec sapien convallis vulputate rhoncus vel dui. Aliquam urna nunc.
                        </p>
                        <p>
                        	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam scelerisque tristique dolor vitae tincidunt. Aenean quis massa uada mi elementum elementum. Suspendisse ac eros nec sapien convallis vulputate rhoncus vel dui. Aliquam urna nunc, lacinia non aliquam in, lobortis at quam. Sed quis elit eu mauris egestas mattis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam scelerisque tristique dolor vitae tincidunt. Aenean quis massa uada mi elementum elementum. Suspendisse ac eros nec sapien convallis vulputate rhoncus vel dui. Aliquam urna nunc. Sed quis elit eu mauris egestas mattis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam scelerisque tristique dolor vitae tincidunt. Aenean quis massa uada mi elementum elementum. Suspendisse ac eros nec sapien convallis vulputate rhoncus vel dui. Aliquam urna nunc.
                        </p>
                    </div>
                </div>
                <!-- Column One End -->
                <!-- Column One Start -->
                <div class="col1 hidemobile">
                    <!-- Twitter feeds Start -->
                    <div class="widget tweets noback">
                    	<h1 class="heading colr">From Twitter</h1>
                        <ul>
                        	<li>
                            	<div class="title">
                                	<a href="#" class="txthover">User 345 said</a>
                                    3 mins ago
                                </div>
                                <p>
                                	Esse molestie consequat vel illum dolore eu feugiat bit.ly/45rdf4 at. Nunc putamus parum claram anteposuerit #twitter #feed
                                </p>
                            </li>
                            <li>
                            	<div class="title">
                                	<a href="#" class="txthover">User 345 said</a>
                                    3 mins ago
                                </div>
                                <p>
                                	Esse molestie consequat vel illum dolore eu feugiat bit.ly/45rdf4 at. Nunc putamus parum claram anteposuerit #twitter #feed
                                </p>
                            </li>
                            <li>
                            	<div class="title">
                                	<a href="#" class="txthover">User 345 said</a>
                                    3 mins ago
                                </div>
                                <p>
                                	Esse molestie consequat vel illum dolore eu feugiat bit.ly/45rdf4 at. Nunc putamus parum claram anteposuerit #twitter #feed
                                </p>
                            </li>
                        </ul>
                        <a href="#" class="buttonone">Follow Us on Twitter</a>
                    </div>
                    <!-- Twitter feeds End -->
                </div>
                <!-- Column One End -->
            </div>
            <!-- Columns Section End -->
        </div>
    </div>
    <!-- Content Section End -->
    <div class="clear"></div>
